/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #dad4ba;
    background-image: url(../images/pexels-george-alex-2149495333-31054101.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background: linear-gradient(to right, #0c0c0c, #171717);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:link {
    color: lightslategrey;
}
nav a:visited {
    color: rgb(188, 180, 180);
}
nav a:hover {
    color:bisque;
}
nav a:active {
    color: rgb(65, 60, 36);
}

/* Main Content */
main {
    max-width: 900px;
    margin: 100px auto;
    padding: 10px;
}

/* Sections (Card Style) */
section {
    background: rgb(222, 205, 166);
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ebc0c0;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

/* Hover effect */
section:hover {
    transform: scale(1.02);
}

/* Headings */
h2 {
    margin-bottom: 10px;
    color: #0083b0;
}

/* Paragraphs */
p {
    margin-bottom: 10px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #777;
}

/* Lists */
ul, ol {
    margin-left: 20px;
    margin-top: 10px;
}

li {
    margin-bottom: 5px;
}

/* Pseudo-class example */
li:hover {
    color: #0083b0;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    color: #777;
}